
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootsrtap Free Admin Template - SIMINTA | Admin Dashboad Template</title>
    <!-- Core CSS - Include with every page -->
    <link href="/static/admin_panel/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/static/admin_panel/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/static/admin_panel/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="/static/admin_panel/css/style.css" rel="stylesheet" />
    <link href="/static/admin_panel/css/main-style.css" rel="stylesheet" />

    <script src="/static/admin_panel/plugins/jquery-1.10.2.js"></script>
    <script src="/static/admin_panel/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/static/admin_panel/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/admin_panel/plugins/pace/pace.js"></script>
    <script src="/static/admin_panel/scripts/siminta.js"></script>

</head>
<script type="text/javascript">
    $(document).ready(function(){

        url = window.location.href;
        url_parts = url.split("msg=")

        if (url_parts.length>1){
        msg = decodeURI(url_parts[1])
        $("#info_div").show()
        $("#para_info_div").text(msg);
    }
    });



</script>

<body>
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/static/admin_panel/imgs/logo.png" alt="" />
                </a>
                <a class="navbar-brand" href="/">
                    <img src="/static/admin_panel/imgs/text_logo.png" alt="" />
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- main dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-3x"></i>
                    </a>
                    <!-- dropdown user-->
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-clock-o fa-fw"></i>{% now "SHORT_DATETIME_FORMAT" %}</a></li>
                        <li><a href="/admin/password_change/?next=/"><i class="fa fa-gear fa-fw"></i>Change Password</a></li>
                        <li class="divider"></li>
                        <li><a href="/admin/logout/?next=/"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                        </li>
                    </ul>
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->

        </nav>
        <!-- end navbar top -->

        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">


                        </div>
                        <!--end user image section-->
                    </li>

                    <li {% if menu == "dashboard" %}class="selected"{% endif %}>
                        <a href="/"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                    </li>
                    <li {% if menu == "all_users" %}class="selected"{% endif %}>
                            <a href="/panel/all_users"><i class="fa fa-users fa-fw"></i>All Users</a>
                    </li>
                    <li {% if menu == "pending_users" %}class="selected"{% endif %}>
                        <a href="/panel/pending_users"><i class="fa fa-edit fa-fw"></i>Pending Users</a>
                    </li>
                    <li {% if menu == "top_ten" %}class="selected"{% endif %}>
                        <a href="/panel/top_ten"><i class="fa fa-table fa-fw"></i>Top 10 Users</a>
                    </li>
                     <li {% if menu == "custom_attributes" %}class="selected"{% endif %}>
                        <a href="/panel/custom_attributes_list"><i class="fa fa-flask fa-fw"></i>Custom Attributes</a>
                    </li>

                <li {% if menu == "contests" %}class="selected"{% endif %}>
                        <a href="/panel/contests"><i class="fa fa-clock-o fa-fw"></i>Contests</a>
                </li>

                    <li {% if menu == "refresh_ratings" %}class="selected"{% endif %}>
                        <a href="/panel/update_all_ratings"><i class="fa fa-question-circle fa-fw"></i>Refresh Ratings</a>
                    </li>
                </ul>
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->
        <!--  page-wrapper -->
        {% block info_block %}
            <div class="row">
            </div>
            <div class="row">
                <!-- Page Header -->
                <div class=" col-md-3 col-md-offset-3 col-lg-6" style="padding-top: 40px; display: none;" id="info_div">
                    <div class="alert alert-warning alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <p id="para_info_div"></p>
                    </div>

                </div>
                <!--End Page Header -->
            </div>
        {% endblock %}

        {% block main_content %}

        {% endblock %}
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->


</body>

</html>
