{% extends "base.html" %}
{% block main_content %}
    <script type="text/javascript">
    function make_page_number(counter,page_size,page_num){
        if (page_num==1){
            $("#num_td_"+counter).text(counter)
        }
        else {
            $("#num_td_"+counter).text((parseInt(counter)+parseInt(page_size))*(parseInt(page_num)-1))
        }
    }
    $(document).ready(function(){
    if ('{{ msg }}'.length>1){
    $("#info_div").show()
    $("#para_info_div").text('{{ msg }}');
}
        Morris.Area({
        element: 'morris-area-chart',
        data:[
            {% for d in g_data %}
                {count: {{ d.count }}, ios_user: {{ d.ios_user }}, day: '{{ d.day }}', and_user: {{ d.and_user }}},
            {% endfor %}],
        xkey: 'day',
        ykeys: ['count', 'ios_user', 'and_user'],
        labels: ['Total Users', 'iOS Users', 'Android Users'],
        pointSize: 2,
        hideHover: 'auto',
        parseTime:false,
        resize: true
    });


    });

</script>
    <script src="/static/admin_panel/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/admin_panel/plugins/morris/morris.js"></script>
{#    <script src="/static/admin_panel/scripts/morris-demo.js"></script>#}
    <link href="/static/admin_panel/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <script src="/static/admin_panel/scripts/userOperations.js?v=2"></script>
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>

                </div>
                <!--End Page Header -->
            </div>




        <div class="row">
            <!-- End Area Chart -->
<div class="row">
                <!--quick info section -->
{#                <div class="col-lg-3">#}
{#                    <div class="alert alert-danger text-center">#}
{#                        <i class="fa fa-calendar fa-3x"></i>&nbsp;<b>20 </b>Meetings Sheduled This Month#}
{##}
{#                    </div>#}
{#                </div>#}
                <div class="col-lg-4">
                    <div class="alert alert-info text-center">
                        <i class="fa  fa-beer fa-3x"></i>&nbsp;<b>{{ info_dict.total_users }}</b>  Total Users
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="alert alert-success text-center">
                        <i class="fa fa-rss fa-3x"></i>&nbsp;<b>{{ info_dict.active_users }}</b>  Active Users

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="alert alert-warning text-center">
                        <i class="fa  fa-pencil fa-3x"></i>&nbsp;<b>{{ info_dict.pending_users }}</b>  Pending Users
                    </div>
                </div>
                <!--end quick info section -->
            </div>
            </div>

<div class="row">
                <div class="col-lg-offset-0 col-lg-12">
            <!--  Area Chart -->
            <div class="panel panel-default">
            <div class="panel-heading">
                Users and User Platform Chart
            </div>
            <div class="panel-body">
                <div id="morris-area-chart">
                </div>
            </div>
            </div>
            </div>
            </div>
                </div>





        <!-- end page-wrapper -->

{% endblock %}